In [1]:
principal_amount = float(input ("Enter the principal amount of loan: "))

Enter the principal amount of loan: 100000

In [2]:
annual_rate = float(input("Enter the annual interest rate as a decimal: "))

Enter the annual interest rate as a decimal: .06

In [3]:
num_years = float(input("Enter the number of years of the loan: "))

Enter the number of years of the loan: 30

In [6]:
monthly_interst_rate = annual_rate/12

In [7]:
monthly_interst_rate

0.005

In [175]:
import pandas as pd

# principal_amount = float(input ("Enter the principal amount of loan: "))
# annual_rate = float(input("Enter the annual interest rate as a decimal: "))
# num_years = float(input("Enter the number of years of the loan: "))
# extra_monthly = float(input("Enter the amount of extra monthly payment: "))

# inputs
principal_amount = 100000
annual_rate = .06
num_years = 30
# extra_monthly = 100

# conversions to monthly values
n = num_years * 12  # number of payment periods
r = annual_rate / 12  # monthly interest rate

# initialization
starting_balance = principal_amount
temp_r = ((1 + r) ** n)
monthly_payment = principal_amount / ((temp_r - 1) / (r * temp_r))
month = 0

# list for dataframe
month_lst = []
starting_balance_lst = []
monthly_payment_lst = []
extra_monthly_lst =[]
total_monthly_payment_lst =[]
# amount_paid = []
principal_paid_lst = []
interest_paid_lst = []
remaining_balance_lst = []
total_interest_lst = []
tracker_lst = []

# for i in range(3):
while starting_balance > 0.1:
    # month number
    month_lst.append(month)
    month = month + 1

    # starting balance
    starting_balance_lst.append(round(starting_balance,2))


    # amount paid per month
    if starting_balance < monthly_payment:
        monthly_payment = starting_balance
    monthly_payment_lst.append(round(monthly_payment,2))
    
    # extra amount paid per month
    if starting_balance- monthly_payment <= extra_monthly:
        extra_monthly = starting_balance -monthly_payment
    extra_monthly_lst.append(extra_monthly)
    
    # total monthly_payament per mont
    total_monthly_payment = max(0,monthly_payment + extra_monthly) 
    total_monthly_payment_lst.append(round(total_monthly_payment,2))


    # amount paid (in interest)
    monthly_interest_amount = (starting_balance * r)
    interest_paid_lst.append(round(monthly_interest_amount,2))
#     print('month:', month)
#     print('remaining_balance:', remaining_balance)
#     print('r:', r)
#     print('monthly_interest_amount:', monthly_interest_amount)
#     print()
    
    # amount paid (towards principal)
    monthly_principal_paid = (total_monthly_payment - monthly_interest_amount)
    principal_paid_lst.append(round(monthly_principal_paid,2))

    # ending balance
    ending_balance = (starting_balance - monthly_principal_paid - extra_monthly)
    remaining_balance_lst.append(round(ending_balance,2))
    starting_balance = ending_balance

    # total interest
    total_interest = sum(interest_paid_lst)
    total_interest_lst.append(round(total_interest,2))

df = pd.DataFrame(
    {
        'month': month_lst,
        'starting balance': starting_balance_lst,
        'monthly payment': monthly_payment_lst,
        'extra payment': extra_monthly_lst,
        'total payment': total_monthly_payment_lst,
        'interest paid': interest_paid_lst,
        'principal paid': principal_paid_lst,
        'ending balance': remaining_balance_lst,
        'total interest paid': total_interest_lst
    })

m = len(month_lst)
print('original term length: ', n)
print('number of payments: ', m)
print('number of payments reduced: ',n-m)
print('total interest paid:',total_interest_lst[-1])
print('ending balance:', remaining_balance_lst[-1])

original term length:  360
number of payments:  361
number of payments reduced:  -1
total interest paid: 115838.24
ending balance: 0.01

In [176]:
df

,month,starting balance,monthly payment,extra payment,total payment,interest paid,principal paid,ending balance,total interest paid
0,0,100000.00,599.55,0.0,599.55,500.00,99.55,99900.45,500.00
1,1,99900.45,599.55,0.0,599.55,499.50,100.05,99800.40,999.50
2,2,99800.40,599.55,0.0,599.55,499.00,100.55,99699.85,1498.50
3,3,99699.85,599.55,0.0,599.55,498.50,101.05,99598.80,1997.00
4,4,99598.80,599.55,0.0,599.55,497.99,101.56,99497.24,2494.99
...,...,...,...,...,...,...,...,...,...
356,356,2368.52,599.55,0.0,599.55,11.84,587.71,1780.81,115820.40
357,357,1780.81,599.55,0.0,599.55,8.90,590.65,1190.17,115829.30
358,358,1190.17,599.55,0.0,599.55,5.95,593.60,596.57,115835.25
359,359,596.57,596.57,0.0,596.57,2.98,593.58,2.98,115838.23
360,360,2.98,2.98,0.0,2.98,0.01,2.97,0.01,115838.24